---
import LanguageSwitcher from '@/components/ui/LanguageSwitcher.astro';
import ThemeToggle from '@/components/ui/ThemeToggle.astro';
import HeaderMobileMenuToggle from './HeaderMobileMenuToggle.astro';
---

<div class="flex items-center space-x-4">
  <LanguageSwitcher />
  <ThemeToggle />
  <HeaderMobileMenuToggle />
</div>
