---
import LanguageSwitcher from "@/components/ui/LanguageSwitcher.astro";
import ThemeToggle from "@/components/ui/ThemeToggle.astro";
import HeaderMobileMenuToggle from "./HeaderMobileMenuToggle.astro";

---

<div class="flex items-center">
  
  <LanguageSwitcher />
  <ThemeToggle />
  <HeaderMobileMenuToggle />
</div>
