---
import { getCollection, type CollectionEntry } from 'astro:content';
import BlogCard from '@/components/blog/BlogCard.astro';

const url = Astro.url;
const page = parseInt(url.searchParams.get('page') || '1', 10);
const lang = url.searchParams.get('lang') || 'en';
const tag = url.searchParams.get('tag');

const allPostsUnsorted = await getCollection('blog', ({ id, data }) => {
  const isLangMatch = id.startsWith(`${lang}/`);
  const isTagMatch = tag ? data.tags?.includes(tag) : true;
  return isLangMatch && isTagMatch && !data.draft;
});

const sortedPosts = allPostsUnsorted.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const postsPerPage = 9;
const startIndex = (page - 1) * postsPerPage;
const postsToDisplay = sortedPosts.slice(startIndex, startIndex + postsPerPage);
---

{
  postsToDisplay.map((post) => (
    <div class="post-item animate-fade-in">
      <BlogCard post={post} lang={lang} />
    </div>
  ))
}
