---
interface Props {
  class?: string;
  [x: string]: any;
}
const { class: className = '', ...rest } = Astro.props;
---
<h4 class:list={["scroll-m-20 text-xl font-semibold tracking-tight", className]} {...rest}>
  <slot />
</h4>
