---
interface Props {
  class?: string;
  [x: string]: any;
}
const { class: className = '', ...rest } = Astro.props;
---
<h1 class:list={["scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl", className]} {...rest}>
  <slot />
</h1>
