name: Link Checker

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0' # Runs every Sunday at midnight

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lychee Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: '**/*.md **/*.mdx **/*.astro'
          # For more configuration options, see https://github.com/lycheeverse/lychee-action
